/* FONT FACE */
@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/ProximaNova-Regular.otf');
}

@font-face {
    font-family: 'Caviar Dreams';
    src: url('fonts/CaviarDreams.ttf');
}

@font-face {
    font-family: "Caviar Dreams";
    src: url("fonts/CaviarDreams_Bold.ttf");
    font-weight: bold;
}

#ph2020 {
    font-size: 3rem;
}


h1, h2, h3, h4{
    font-family: 'Caviar Dreams';
    font-weight: bold;
}

body{
    margin: 0;
    padding: 0;
}


/* NAVBAR */
header {
    position: sticky;
    top: 0 !important;
    z-index: 5;
}

nav i {
    color: white;
    font-size: 1rem;
}

nav a {
    color: white !important;
    font-family: 'Caviar Dreams' !important;
    text-transform: uppercase;
}

nav a:hover {
    color: #dafefe !important;
}

.dropdown-menu {
    margin-left: -1rem;
}

.dropdown-menu a:hover {
    background-color: transparent;
}

nav .show {
    text-align: center;
}

#logo{
    position: fixed;
    top: 30px;
    left: 30px;
    height: 70;
    width: 200;
}

/* HOME PAGE ASIDE */
aside h1 {
    letter-spacing: .8rem;
    font-size: 2rem;
    line-height: 2rem;
    z-index: 4;
}

#mascot {
    width: 400px;
    max-height: 75vh;
    max-width: 80vw;
    margin: 10px 50px 10px 50px;
}

aside a {
    color: #dafefe;
    font-family: 'Caviar Dreams';
    font-size: 1.5rem;
    text-align: center;
}

aside a:hover {
    color: white;
    text-decoration: none;
}

#bar {
    height: 70vh;
    padding: 1rem;
    background-color: white;
    border-radius: 2rem;
    max-height: 500px;
}


/* ARTICLES PAGE */
#blog {
    background-color: rgba(255, 255, 255, 0.808);
    padding: 20px 40px 30px 40px;
    width: 80vw;
    text-align: justify;
    border-radius: 1%;
}

#blog img {
    width: 30vw;
    height: 40vh;
}


/* MAIN SECTION */
html{
    scroll-behavior: smooth;
    zoom: 94%;
}

body{
    background: #dafefe;
    background: -webkit-linear-gradient(#bff3f9,#bff3f9);
}

main {
padding-bottom: 2rem;
background: -webkit-linear-gradient(#bff3f9,#bff3f9);
color: rgb(42, 46, 49);
}

main a {
    color: white;
}

main a:hover {
    text-decoration: none;
    color: #40749c;
}

main > div p {
    color: black;
}

.content {
    max-width: 1000px;
}

h2 {
    padding-top: 2rem;
}


/* SPONSORS */
#sponsors > div img {
    transition: all .3s;
    padding: 1rem;
    max-height: 250px;
}

#sponsors > div img:hover, #ph_logo:hover {
    opacity: .4;
}

#sponsors {
    color: #dafefe;
}

#headshots > div {
    width: 250px;
    text-align: center;
}

#headshots img {
    width: 200px;
    height: 200px;
}

#headshots h3 {
    font-size: larger;
}

#headshots h4 {
    font-size: medium;
}

.table {
    background-color: transparent;
    color: #1ca4b6;
    margin-bottom: 3rem;
    border: 5px solid transparent;
}

.header-row {
    border: 0;
}

th {
    background-color: #1ca4b6;
}

.table h4 {
    margin: 0;
    color: #dafefe;
    text-align: center;
}


/* FOOTER */
footer {
    background-color: #40749c;
}

footer ul {
    list-style-type: none;
    margin-bottom: 0;
}

footer li {
    padding: 2rem 3rem 2rem 3rem;
}

footer a {
    color: white;
}

footer a:hover {
    color: #dafefe;
}

footer i {
    font-size: 2rem;
}


/* MOBILE SCREENS */
@media all and (max-width: 505px) {    
    footer i {
        font-size: 1.5rem;
    }

    footer li {
        padding: 1rem;
    }
}


/* LARGE SCREENS */
@media all and (min-width: 992px) {
    nav i {
        font-size: 1.5rem;
    }

    aside {
        height: 100%;
        background-repeat: no-repeat;
        background-size: 125% 140%;
        background-position: top;
    }

    aside h1 {
        font-size: 3rem;
        line-height: 3.5rem;
    }

    .gradient {
        background: transparent linear-gradient(to bottom, #EDE3FD 0%, #F0ECFF 100%) 0% 0% no-repeat padding-box;
    }
    
    #sponsors {
        background-color: transparent !important;
    }

    #sponsors h2 {
        color: #231F20;
    }
}  