<ul class='d-flex flex-row justify-content-center flex-wrap p-0'>
    <li>
        <a href="https://www.facebook.com/IEEE.ComSoc.VIT/" target="blank">
            <i class="fab fa-facebook-f"></i></a>
    </li>
    <li>
        <a href="https://twitter.com/ComSoc" target="blank">
            <i class="fab fa-twitter"></i></a>
    </li>
    <li>
        <a href="#" target="blank">
            <i class="far fa-envelope"></i></a>
    </li>
    <li>
        <a href="https://www.instagram.com/v.i.t_comsoc/" target="blank">
            <i class="fab fa-instagram"></i></a>
    </li>
</ul>