<nav class="navbar navbar-expand-lg navbar-light col-lg-12 bg-dark">
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse d-lg-flex justify-content-lg-right" id="navbarNavDropdown">
        <ul class="p-0 navbar-nav d-lg-flex col-lg-8 justify-content-lg-around align-items-center align-items-lg-center " style="margin-right: 65px;">
            <li class="nav-item active">    
            <a class="nav-item active" id="COMSOC Logo" href="index.htm">
                <img src="images/comsoc logo.png" width="100" height="100" alt="ComSoc Logo">
            </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="about.htm">ABOUT</a>
            </li>
            <!--
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    ABOUT
                </a>
            </li>
            -->
            <li class="nav-item active">
                <a class="nav-link" href="about.htm#team">THE TEAM</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="events.htm">EVENTS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="blog.htm">BLOG</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">CONTACT</a>
            </li>
        </ul>
    </div>
    <!--
    <a class="navbar-brand d-none d-lg-inline" id="ph_logo" href="index.html">
                <img src="images/headshots/hacker.png" width="140" height="50" alt="PH Logo" style="position: -webkit-sticky; position: sticky;">
        </a>
        -->
</nav>